extends email

block content
  h2 Hello #{name}, 
  p Order ##{number} update 
  p Your CryhoHeat order ##{number} has been successfully #{service}.
  p Use this number to track your shippment 
    a(href="https://google.com/search?q="+tracking) #{tracking}
  

